<mat-toolbar color="primary">
<button mat-icon-button (click)="toggleNavbar()">
    <mat-icon>menu</mat-icon>
</button>
<span>Sup'com Junior Entreprise</span>
<span class="example-spacer"></span>
<button mat-button>
    <mat-icon>exit_to_app</mat-icon>
</button>
</mat-toolbar>
<div>
    <mat-sidenav-container>
        <mat-sidenav mode="side" [(opened)]="opened">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <a mat-button routerLink='/home'>
                        <mat-icon>face</mat-icon>
                        Home
                    </a>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <a mat-button routerLink='/contact'>
                        <mat-icon>face</mat-icon>
                        Contact us
                    </a>
                </mat-list-item>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>